@{
    ViewData["Title"] = "Student List";
}

<h2> 學生學籍資料清單 </h2>

<button>
    新增
</button>

<table class="table">
  <tr>
    <th scope="col">學號</th>
    <th scope="col">姓名</th>
    <th scope="col">科系中文名稱</th>
    <th scope="col">功能</th>
  </tr>
  <tr>
    <th scope="row">Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
</table>